<div class="flex flex-col items-center justify-around h-full text-white p-4 bg-gray-900 bg-opacity-50 rounded">
    <h1 class="text-2xl text-center">Time's UP &#128336;! <span class="text-3xl">{{ userName }}</span> Try Faster!</h1><br/>
    <h1 class="text-xl text-center">Click <span class="text-2xl">2 times</span> to continue</h1><br/>
    <p class="text-red-500 text-center">*As a penalty you will lose 1 question 😈*</p>
    <button class="p-4 mt-6 bg-black rounded-lg text-white w-full max-w-xs" (click)="handleClick()">Continue</button>
  </div>
  