  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <div style="width:106vw" class=" min-h-screen flex items-center justify-center bg-cover bg-center bg-custom bg-[#7161ef] size_d">
    <button (click)="goBack()" class="floating-button">←</button>

    <div style="width:100%;" class=" mb-8 text-center text-white px-4 sm:px-6 lg:px-8 py-16 flex flex-col md:flex-row items-center">
        <div  class="column-1">
    <h1 id="text1" >Cyber Security 101</h1>
    <h1 id="text1" class="text-2xl">Learn More</h1>
  
    <p id="text2">Cards scroll and flip</p>
    <div   class="flex w-full flex-col lg:flex-row items-center">
  

          <div style="height:620px" class="carousel carousel-center  rounded-box max-w-md space-x-4 p-4 ">
         
            <div class="carousel-item" *ngFor="let card of flashcards" >
                <app-flashcard>
                    <div style="color: black; font-size:20px;" class="front">{{ card.frontContent }}</div>
                    <div style="color: black; font-size: 17px;" class="back">{{ card.backContent }}</div>
                  </app-flashcard>
            </div>
          
       
          </div>
          
    </div>
  </div>
    </div>
  </div>

