.background {
    background-image: url('/Frontend/src/assets/110469330.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.hacker-section {
    background-color: #4a0908; /* Adjust based on your preference */
}
.player-section {
    background-color: #0a2463; /* Adjust based on your preference */
}