.phishing-heading {
    color: white;
}
.start-button {
    border-radius: 2rem;
    max-width: 100%;
    background-color: rgb(223, 219, 219);
   padding-left: 2rem;
   padding-right: 2rem;
   border: 1px solid grey;
}

.sign-out-link1 {
    margin-left: 15rem;
}
