table, th, td {
    border: 2px solid black;
  }
  th, td {
    padding: 8px;
    text-align: left;
  }
  
 
  h1{
    color: #0096C7;
  }

  .btn1{
  color: #0096C7;
  }

  .option{
    font-size: small;
  }


.inline-block{
   margin-left: 10px;
  }


  .inline-blocks{
    margin-left: 280px;
  }