

<div
  class="hero min-h-screen"
  style="background-image: url(/assets/images/gamified-bg.png)"
>
  <div class="hero-content text-neutral-content text-center gap-2 columns-2">
    <div class="max-w-md phishing-container">
      <h1
        class="mb-5 text-5xl font-bold bg-opacity-60 hero-overlay phishing-heading"
      >
        P H I S H I N G <br />
        W A R S
      </h1>
      <button class="btn btn-primary start-button" (click)="navigateToPhishingWars()">S T A R T</button>

    </div>
  </div>
</div>
