
<div>
    <div
    class="hero min-h-screen "
    style="background-image: url(/assets/images/gamified-bg.png)"
  >
    <div
      class="hero-content text-neutral-content text-center gap-2 columns-2 bg-opacity-90 hero-overlay"
    >
      <div class="max-w-md phishing-container">
        <h1 class="mb-5 font-bold phishing-heading" id="background-heading">
          B A C K G R O U N D
        </h1>
  
        <!-- S C E N A R I O  -->
        <div class="container-1">
          <p>
            Jane is the HR manager at a mid-sized tech company. One afternoon, she
            receives an email that appears to be from the company's CEO, Mark. The
            email addresses Jane by name and mentions a confidential project that
            the executive team is working on. It requests her to urgently review
            and approve attached documents related to employee performance
            evaluations. 
          </p>
        </div>
        <button
        style="z-index:99999;"
        class="btn btn-primary start-button"
        (click)="navigateToPhishingOnboard()"
      >
        N E X T
      </button>
        <!-- <button style="z-index:99999;" (click)="navigateToPhishingWars()" class="btn btn-primary start-button">N E X T</button> -->
      </div>
  
      <div></div>
    </div>

    <!-- YOUNG PROFESSIONAL  -->
     <figure>
        <img src="/assets/images/youngprofess-Photoroom.png" alt="sprite-image" id="sprite">
     </figure>

</div>

</div>

